
                    {{ card.card(
                        cardUrl="/",
                        headingLevel="h3",
                        heading="Self Assessment - 2a",
                        linkContent = "You are £1,073 in credit. Leave the money in your account and it will be credited to your next bill, or claim a refund.",
                        links = [
                          { url: "/self-assessment-file/1718/ind/111111111/return?lang=eng", title: "Claim a tax refund" },
                            { url: "/pay/self-assessment/choose-a-way-to-pay?mode=pta", title: "Make a payment" },
                            { url: "/self-assessment-file/1718/ind/111111111/return?lang=eng", title: "View your payments" }
                        ])
                    }}

                    <!-- <div class="card ">
                        <div class="card-body active">
                            <h3 class="govuk-heading-s card-heading"><a href="/">Self Assessment - 2a</a></h3>
                            <p>You are £1,073 in credit.</p>
                            <p>Leave the money in your account and it will be credited to your next bill, or claim a refund.</p>
                        </div>
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="/self-assessment-file/1718/ind/111111111/return?lang=eng">Claim a tax refund</a></li>
                                <li><a href="/pay/self-assessment/choose-a-way-to-pay?mode=pta">Make a payment</a></li>
                                <li><a href="/self-assessment-file/1718/ind/111111111/return?lang=eng">View your payments</a></li>
                            </ul>
                        </div>
                    </div> -->

                    <!-- ************************************************************************** -->

                    {{ card.card(
                        cardUrl="/",
                        headingLevel="h3",
                        heading="Self Assessment - 2bcd",
                        linkContent = "You are £1,100 in credit. Leave the money in your account and it will be credited to your next bill, or claim a refund.",
                        links = [
                            { url: "/self-assessment-file/1718/ind/111111111/return?lang=eng", title: "Claim a tax refund" },
                            { url: "/pay/self-assessment/choose-a-way-to-pay?mode=pta", title: "Make a payment" },
                            { url: "/self-assessment-file/1718/ind/111111111/return?lang=eng", title: "View your payments" }
                        ])
                    }}

                    <!-- <div class="card ">
                        <div class="card-body active">
                            <h3 class="govuk-heading-s card-heading"><a href="/">Self Assessment - 2bcd</a></h3>
                            <p>You are £1,100 in credit.</p>
                            <p>Leave the money in your account and it will be credited to your next bill, or claim a refund.</p>
                        </div>
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="/self-assessment-file/1718/ind/111111111/return?lang=eng">Claim a tax refund</a></li>
                                <li><a href="/pay/self-assessment/choose-a-way-to-pay?mode=pta">Make a payment</a></li>
                                <li><a href="/self-assessment-file/1718/ind/111111111/return?lang=eng">View your payments</a></li>
                            </ul>
                        </div>
                    </div> -->

                    <!-- ************************************************************************** -->

                    {{ card.card(
                        cardUrl="/",
                        headingLevel="h3",
                        heading="Self Assessment - 3",
                        linkContent = "You are £1,073 in credit. We will use this to pay your bill of £1,073 on 1 December 2018.",
                        links = [
                            { url: "/pay/self-assessment/choose-a-way-to-pay?mode=pta", title: "Make a payment" },
                            { url: "/self-assessment-file/1718/ind/111111111/return?lang=eng", title: "View your payments" }
                        ])
                    }}

                    <!-- <div class="card ">
                        <div class="card-body active">
                            <h3 class="govuk-heading-s card-heading"><a href="/">Self Assessment - 3</a></h3>
                            <p>You are £1,073 in credit.</p>
                            <p>We will use this to pay your bill of £1,073 on 1 December 2018.</p>
                        </div>
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="/pay/self-assessment/choose-a-way-to-pay?mode=pta">Make a payment</a></li>
                                <li><a href="/self-assessment-file/1718/ind/111111111/return?lang=eng">View your payments</a></li>
                            </ul>
                        </div>
                    </div> -->

                    <!-- ************************************************************************** -->

                    {{ card.card(
                        cardUrl="/",
                        headingLevel="h3",
                        heading="Self Assessment - 4",
                        linkContent = "You are £1,073 in credit. We will use £996 of this to pay your bill. You can leave the remaining £77 in your account and it will be credited to your next bill, or claim a refund. ",
                        links = [
                            { url: "/self-assessment-file/1718/ind/111111111/return?lang=eng", title: "Claim a tax refund" },
                            { url: "/pay/self-assessment/choose-a-way-to-pay?mode=pta", title: "Make a payment" },
                            { url: "/self-assessment-file/1718/ind/111111111/return?lang=eng", title: "View your payments" }
                        ])
                    }}

                    <!-- <div class="card ">
                        <div class="card-body active">
                            <h3 class="govuk-heading-s card-heading"><a href="/">Self Assessment - 4</a></h3>
                            <p>You are £1,073 in credit.</p>
                            <p>We will use £996 of this to pay your bill. You can leave the remaining £77 in your account and it will be credited to your next bill, or claim a refund.</p>
                        </div>
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="/self-assessment-file/1718/ind/111111111/return?lang=eng">Claim a tax refund</a></li>
                                <li><a href="/pay/self-assessment/choose-a-way-to-pay?mode=pta">Make a payment</a></li>
                                <li><a href="/self-assessment-file/1718/ind/111111111/return?lang=eng">View your payments</a></li>
                            </ul>
                        </div>
                    </div> -->

                    <!-- ************************************************************************** -->

                    {{ card.card(
                        cardUrl="/",
                        headingLevel="h3",
                        heading="Self Assessment - 5",
                        linkContent = "You are £1,073 in credit but your current bill is £1,099. You must pay £26 by 11:59pm on 1 December 2018.",
                        links = [
                            { url: "/pay/self-assessment/choose-a-way-to-pay?mode=pta", title: "Make a payment" },
                            { url: "/self-assessment-file/1718/ind/111111111/return?lang=eng", title: "View your payments" }
                        ])
                    }}

                    <!-- <div class="card ">
                        <div class="card-body active">
                            <h3 class="govuk-heading-s card-heading"><a href="/">Self Assessment - 5</a></h3>
                            <p>You are £1,073 in credit but your current bill is £1,099.</p>
                            <p>You must pay £26 by 11:59pm on 1 December 2018.</p>
                        </div>
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="/self-assessment-file/1718/ind/111111111/return?lang=eng">Claim a tax refund</a></li>
                                <li><a href="/pay/self-assessment/choose-a-way-to-pay?mode=pta">Make a payment</a></li>
                                <li><a href="/self-assessment-file/1718/ind/111111111/return?lang=eng">View your payments</a></li>

                            </ul>
                        </div>
                    </div> -->

                    <!-- ************************************************************************** -->

                    {{ card.card(
                        cardUrl="/",
                        headingLevel="h3",
                        heading="Self Assessment - 6",
                        linkContent = "You must pay £1,073 by 11:59pm on 1 December 2018.",
                        links = [
                            { url: "/pay/self-assessment/choose-a-way-to-pay?mode=pta", title: "Make a payment" },
                            { url: "/self-assessment-file/1718/ind/111111111/return?lang=eng", title: "View your payments" }
                        ])
                    }}


                    <!-- <div class="card ">
                        <div class="card-body active">
                            <h3 class="govuk-heading-s card-heading"><a href="/">SA - 6abc7abc8ab9</a></h3>
                            <p>You must pay £1,073 by 11:59pm on 1 December 2018.</p>
                            <p>Payments take up to 7 days to update your balance.</p>
                        </div>
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="/pay/self-assessment/choose-a-way-to-pay?mode=pta">Make a payment</a></li>
                                <li><a href="/self-assessment-file/1718/ind/111111111/return?lang=eng">View your payments</a></li>
                            </ul>
                        </div>
                    </div> -->

                    <!-- ************************************************************************** -->

                    <!-- <div class="card ">
                        <div class="card-body active">
                            <h3 class="govuk-heading-s card-heading"><a href="/">Self Assessment - 8c10</a></h3>
                            <p>You needed to pay £842 by 11:59pm on 1 December 2018.</p>
                            <p>To avoid further penalties you must pay now.</p>
                        </div>
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="/pay/self-assessment/choose-a-way-to-pay?mode=pta">Make a payment</a></li>
                                <li><a href="/self-assessment-file/1718/ind/111111111/return?lang=eng">View your payments</a></li>
                            </ul>
                        </div>
                    </div> -->

                    <!-- ************************************************************************** -->

                    <!-- <div class="card ">
                        <div class="card-body active">
                            <h3 class="govuk-heading-s card-heading"><a href="/">Self Assessment - 11</a></h3>
                            <p>You have nothing to pay.</p>
                        </div>
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="/pay/self-assessment/choose-a-way-to-pay?mode=pta">Make a payment</a></li>
                                <li><a href="/self-assessment-file/1718/ind/111111111/return?lang=eng">View your payments</a></li>
                            </ul>
                        </div>
                    </div> -->

                    <!-- ************************************************************************** -->

                    <!-- <div class="card ">
                        <div class="card-body active">
                            <h3 class="govuk-heading-s card-heading"><a href="/">Self Assessment - 12</a></h3>
                            <p>There is no balance information to display.</p>
                        </div>
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="/pay/self-assessment/choose-a-way-to-pay?mode=pta">Make a payment</a></li>
                                <li><a href="/self-assessment-file/1718/ind/111111111/return?lang=eng">View your payments</a></li>
                            </ul>
                        </div>
                    </div> -->

                    <!-- ************************************************************************** -->