
<!-- ---------- FULL NAVIGATION ---------- -->

<div id="full" class="outer-block">
  <div class="nav-account">
    <a href="index" class="home">
      <span class="icon-home">Account home</span>
    </a>
    <div class="menu">
      <ul>
        <a href="pta-messages">
          <li id="messages">
            <span>Messages</span>
            <!-- <span class="blip">2</span> -->
          </li>
        </a>
        <a href="track-your-forms">
          <li id="tracker">
            <span>Check progress</span>
            <!-- <span class="blip">3</span> -->
          </li>
        </a>
        <li id="help">
          <span class="more">Get help</span>
        </li>
        <li id="account">
          <span class="more">Your account</span>
        </li>
        <a href="https://hmrc-feedback.herokuapp.com/feedback1a">
          <li id="sign-out">
            <span>Sign out</span>
          </li>
        </a>
      </ul>
    </div>
  </div>
  <div class="subnav-account">
    <div class="help" tabindex="-1">
      <div class="column-one-third">
        <div class="subnav-header">
          Live chat
        </div>
        <div class="subnav-link">
          <a href="#">Chat with us now</a>
        </div>
        <div class="subnav-detail">
          Live chat is available and the queue time is currently around 12 minutes
        </div>
      </div>
      <div class="column-one-third">
        <div class="subnav-header">
          Phone
        </div>
        <div class="subnav-link">
          <div>01234 567 890</div>
        </div>
        <div class="subnav-detail">
          Lines are currently closed and will reopen tomorrow at 8:00am
        </div>
      </div>
      <div class="column-one-third">
        <div class="subnav-header">
          Technical problems
        </div>
        <div class="subnav-link">
          <a href="#">Report a technical problem</a>
        </div>
        <div class="subnav-detail">
          We aim to reply within 72 hours
        </div>
      </div>
    </div>
    <div class="account" tabindex="-1">
      <div class="column-one-third">
        <div class="subnav-header">
          Security settings
        </div>
        <div class="subnav-link">
          <a href="#">Change your password</a>
          <a href="#">Change your phone number</a>
          <a href="account-two">Trusted helpers</a>
        </div>
      </div>
      <div class="column-one-third">
        <div class="subnav-header">
          Paperless settings
        </div>
        <div class="subnav-link">
          <a href="pta-contact-preferences">Go paperless</a>
        </div>
        <div class="subnav-detail">
          You currently receive all correspondence by post
        </div>
      </div>
      <div class="column-one-third">
        <div class="subnav-header">
          Personal details
        </div>
        <div class="subnav-link">
          <a href="pta-personal-details">View your personal details</a>
        </div>
        <div class="subnav-detail">
          View or edit your address, phone number and National Insurance.
        </div>
      </div>
    </div>
  </div>
</div>




<!-- ---------- COMPACT NAVIGATION ---------- -->

<div id="compact" class="outer-block">
  <div class="nav-account">
    <a href="index" class="home">
      <span class="icon-home">Home</span>
    </a>
    <div class="menu">
      <ul>
        <li id="account-menu">
          <span class="more">Account menu</span>
          <!-- <span class="blip">102</span> -->
        </li>
      </ul>
    </div>
  </div>
  <div class="subnav-account">
    <div class="compact-subnav">
      <ul id="top-level">
        <a href="pta-messages">
          <li class="messages nav-item">
            <span>Messages</span>
            <!-- <span class="blip">99</span> -->
          </li>
        </a>
        <a href="track-your-forms">
          <li class="check-progress nav-item">
            <span>Check progress</span>
            <!-- <span class="blip">3</span> -->
          </li>
        </a>
        <a href="pta-personal-details">
          <li class="your-details nav-item">
            <span>Personal details</span>
          </li>
        </a>
        <li id="open-security-set" class="more">
          <span>Security settings</span>
          <ul id="security-set-sub">
            <li id="close-security-set" class="go-back">Back</li>
            <li>
              <div class="subnav-header">
                Security settings
              </div>
              <div class="subnav-link">
                <a href="#">Change your password</a>
              </div>
              <div class="subnav-link">
                <a href="#">Change your phone number</a>
              </div>
              <div class="subnav-link">
                <a href="account-two">Trusted helpers</a>
              </div>
            </li>
          </ul>
        </li>
        <li id="open-paperless" class="more">
          <span>Paperless settings</span>
          <ul id="paperless-sub">
            <li id="close-paperless" class="go-back">Back</li>
            <li>
              <div class="subnav-header">
                Paperless settings
              </div>
              <div class="subnav-link">
                <a href="pta-contact-preferences">Go paperless</a>
              </div>
              <div class="subnav-detail">
                You aren't setup to receive emails
              </div>
            </li>
          </ul>
        </li>
        <li id="open-help" class="more">
          <span>Get help</span>
          <ul id="help-sub">
            <li id="close-help" class="go-back">Back</li>
            <li id="open-live-chat" class="more">
              <span>Live chat</span>
              <ul id="live-chat-sub">
                <li id="close-live-chat" class="go-back">Back</li>
                <li>
                  <div class="subnav-header">
                    Live chat
                  </div>
                  <div class="subnav-link">
                    <a href="#">Chat with us now</a>
                  </div>
                  <div class="subnav-detail">
                    Live chat is available and the queue time is currently around 12 minutes
                  </div>
                </li>
              </ul>
            </li>
            <li id="open-phone" class="more">
              <span>Phone</span>
              <ul id="phone-sub">
                <li id="close-phone" class="go-back">Back</li>
                <li>
                  <div class="subnav-header">
                    Phone
                  </div>
                  <div class="subnav-link">
                    <div><a href="#">01234 567 890</a></div>
                  </div>
                  <div class="subnav-detail">
                    Lines are currently closed and will reopen tomorrow at 8:00am
                  </div>
                </li>
              </ul>
            </li>
            <li id="online-help" class="more">
              <span>Technical problems</span>
              <ul id="online-help-sub">
                <li id="close-online-help" class="go-back">Back</li>
                <li>
                  <div class="subnav-header">
                    Technical problems
                  </div>
                  <div class="subnav-link">
                    <a href="#">Report a technical problem</a>
                  </div>
                  <div class="subnav-detail">
                    We aim to reply within 72 hours
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item"><span><a href="https://hmrc-feedback.herokuapp.com/feedback1a">Sign out</a></span></li>
      </ul>
    </div>
  </div>
</div>
