<!-- <div class="">
  <div class="inner-block">
    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service - your <a href="../../../../lastpage">feedback</a> will help us to improve it.</span>
      </p>
    </div>
  </div>
  <div class="hmrc-banner">
    <i class="hmrc-crest"></i>HM Revenue and Customs
    <div class="service-info_help">
      Tom, you last signed in 11:49pm, Saturday 5 April 2014
    </div>
  </div>
</div>
<div class="delagationbanner stick pandora">
  <div class="agentname">
    You’re in <span class="bold-small">Pandora Johnson’s</span> tax account.
  </div>
  <div class="clientlistlink">
    <a href="https://hmrc-th-pta-prototype.herokuapp.com/account-two" class="nonono">Go to Trusted Helpers</a>
  </div>
</div>
 -->