<div id="user-panel" class="user-panel highlight" style="margin:0;">
  <div id="content" style="padding-bottom:0;">
    <h3 style="float:left; width:70%;">Help improve GOV.UK</h3>
    <a style="float:right; font-size:16px;" id="user-panel-hide" href="#">No thanks</a>
    <a style="display:inline-block;" href="https://signup.take-part-in-research.service.gov.uk/?utm_campaign=PTAhome&utm_source=PTAhome&utm_medium=other&t=HMRC&id=4">Get involved in making government services better (opens in a new window)</a>
  </div>
</div>
