
{% extends "layout.html" %}

<!-- Set heading for the page -->
<!-- ////////////////////////////////////////////// -->
{% set pageHeading = "Business Tax Account" %}
{% set pageSection = "Account home" %}

<!-- Title for browser -->
<!-- ////////////////////////////////////////////// -->
{% block pageTitle %}Authorisation Application Streamlining{% endblock %}

<!-- Import the cards template if using the macro -->
<!-- ////////////////////////////////////////////// -->
{% import "card-template.html" as card %}


{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <span class="govuk-caption-xl">Account home</span>
            <h1 class="govuk-heading-xl">
                Company name
            </h1>

            <!-- ************************************************************************** -->

            <!-- BENEFITS -->
            <h2 class="govuk-heading-m govuk-section-break--m govuk-section-break--visible">Authorisations to speed up customs processes</h2>
            <div class="flex-container govuk-grid-row">

                <!-- ************************************************************************** -->

                <!-- TAX CREDITS -->
                <div class="card ">
                    <div class="card-body active">
                        <h3 class="govuk-heading-s card-heading"><a href="lastpage">Authorised Economic Operator</a></h3>
                        <p>View your next payments and the people on your claim, and make changes to your claim.</p>
                    </div>
       
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="lastpage">View your tax credits payments</a></li>
                            </ul>
                        </div>
                </div>
                <!-- // TAX CREDITS -->

			
				
                <!-- ************************************************************************** -->


                <!-- MARRIAGE ALLOWANCE -->
                <div class="card ">
                    <div class="card-body active">
                      
                            <h3 class="govuk-heading-s card-heading"><a href="/marriage-allowance-application/history">Customs Comprehensive Guarentee</a></h3>

                            <p>You currently transfer part of your Personal Allowance to your partner.</p>

                    </div>
                    <div class="card-action">
                        <ul class="govuk-list" >
                        {% if ((data['tile--marriage-allowance-recieves'] == "active" ) or (data['tile--marriage-allowance-transfers'] == "active")) %}
                            <li><a href="/marriage-allowance-application/history">Manage your Marriage Allowance</a></li>
                        {% else %}
                            <li><a href="/marriage-allowance-application/how-it-works">Find out if you qualify for Marriage Allowance</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
                <!-- // MARRIAGE ALLOWANCE -->
				
				
				
				<div class="card ">
                    <div class="card-body active">
                        <h3 class="govuk-heading-s card-heading"><a href="lastpage">Temporary Storage and Approved Depositories</a></h3>
                        <p>View your next payments and the people on your claim, and make changes to your claim.</p>
                    </div>
       
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="lastpage">View your tax credits payments</a></li>
                            </ul>
                        </div>
                </div>
				
				
	

                <!-- ************************************************************************** -->

            </div>

            <!-- ************************************************************************** -->
            <!-- ************************************************************************** -->
            <!-- ************************************************************************** -->


            <!-- PENSIONS -->
            <h2 class="govuk-heading-m govuk-section-break--m govuk-section-break--visible">Authorisations to reduce the cost of customs processes</h2>
            <div class="flex-container govuk-grid-row">

                <!-- ************************************************************************** -->

                <!-- STATE PENSION -->
 				<div class="card ">
                    <div class="card-body active">
                        <h3 class="govuk-heading-s card-heading"><a href="lastpage">Simplified Declaration Procedure</a></h3>
                        <p>View your next payments and the people on your claim, and make changes to your claim.</p>
                    </div>
       
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="lastpage">View your tax credits payments</a></li>
                            </ul>
                        </div>
                </div>
                <!-- // STATE PENSION -->

                <!-- ************************************************************************** -->

                <!-- LIFETIME ALLOWANCE -->
 				<div class="card ">
                    <div class="card-body active">
                        <h3 class="govuk-heading-s card-heading"><a href="lastpage">Duty Deferment</a></h3>
                        <p>View your next payments and the people on your claim, and make changes to your claim.</p>
                    </div>
       
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="lastpage">View your tax credits payments</a></li>
                            </ul>
                        </div>
                </div>
                <!-- // LIFETIME ALLOWANCE -->

                <!-- ************************************************************************** -->

            </div>
			
			
			
			<!-- PENSIONS -->
            <h2 class="govuk-heading-m govuk-section-break--m govuk-section-break--visible">Authorisations to defer or simplify the costs of customs processes</h2>
            <div class="flex-container govuk-grid-row">

                <!-- ************************************************************************** -->

                <!-- STATE PENSION -->
 				<div class="card ">
                    <div class="card-body active">
                        <h3 class="govuk-heading-s card-heading"><a href="lastpage">Authorised Banana Weighers</a></h3>
                        <p>View your next payments and the people on your claim, and make changes to your claim.</p>
                    </div>
       
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="lastpage">View your tax credits payments</a></li>
                            </ul>
                        </div>
                </div>
                <!-- // STATE PENSION -->

                <!-- ************************************************************************** -->

                <!-- LIFETIME ALLOWANCE -->
 				<div class="card ">
                    <div class="card-body active">
                        <h3 class="govuk-heading-s card-heading"><a href="lastpage">Authorised Consignee (TIR)</a></h3>
                        <p>View your next payments and the people on your claim, and make changes to your claim.</p>
                    </div>
       
                        <div class="card-action">
                            <ul class="govuk-list" >
                                <li><a href="lastpage">View your tax credits payments</a></li>
                            </ul>
                        </div>
                </div>
                <!-- // LIFETIME ALLOWANCE -->

                <!-- ************************************************************************** -->

            </div>

			
			
			


        </div>
        <div class="govuk-grid-column-full">

            {% include "includes/anything-wrong-with-this-page.html" %}
            {% include "includes/phase-banner.html" %}

        </div>
    </div>

{% endblock %}